.auth-text {
  text-align: center;
  padding-top: 1em;
  font-size: 1.2em;
}

.auth-link {
  cursor: pointer;
  color: rgba(175, 47, 47, 0.58);
}

.user-avatar {
  height: 50px;
  margin-right: 50px;
  border-radius: 50%;
}

li.completed .user-avatar {
  opacity: 0.5;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.toggle {
  cursor: pointer;
}

input.toggle-all {
  cursor: pointer;
}
